*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: antiquewhite;
}
h1{
    margin: 50px;
}
h2{
    margin: 20px;
}
#sortedResult {
    white-space: normal; /* Permite que o conteúdo quebre linha */
    word-wrap: break-word; /* Garante que quebras ocorram em palavras muito longas */
    overflow-wrap: break-word; /* Compatibilidade adicional */
    max-width: 70%; /* Limita a largura ao tamanho da página */
    padding: 10px; /* Dá algum espaço interno ao contêiner */
    border: 1px solid #ccc; /* (Opcional) Para visualização, adicione uma borda */
    margin: 10px auto; /* Centraliza o contêiner horizontalmente */
    margin-bottom: 120px;

    background-color:whitesmoke;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0px;
}